body{
    height: 90000px;
}
/* 设置发帖区 */
.createPostWrap{
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: forestgreen;
}

/* 设置浏览区 */
.postView{
    width: 900px;
    height: 200px;
    margin: 0 auto;
    background-color: aqua;
}

/* 设置地图区 */
.mapWrap{
    width: 331px;
    height: 331px;
    background-color: blueviolet;
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}