body{
    height: 90000px;
	background-color: rgb(238, 234, 234);
}
.logoWrap{
	/* background-color: aqua; */
	width: 900px;
	margin: 0 auto;
	margin-bottom: 20px;
	margin-top: 8px;
}

/* 设置浏览区 */
.createPostWrap{
    width: 900px;
    /* height: 350px; */
    margin: 0 auto;
    margin-bottom: 30px;
    /* background-color: forestgreen; */
}
#postmessage{
    outline-style: none;
    border: 1px solid #ccc;
    padding: 6px;
    
}

/* 设置发帖区 */
.postView{
    width: 900px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    background-color: rgb(233, 240, 240);
    box-shadow: 6px 6px rgb(216, 235, 235);
}

/* 设置地图区 */
.mapWrap{
    width: 331px;
    height: 331px;
    position: fixed;
    overflow: hidden;
    right: 0;
    bottom: 0;
    margin-right: 10px;
}
.buttonBox{
  background:#86cabb;
  color:#fff;
  border:none;
  position:relative;
  height:35px;
  font-size:10px;
  padding:7px 30px;
  cursor:pointer;
  transition:800ms ease all;
  outline:none;
  margin-right: 10px;
}
.buttonBox:hover{
  background:#fff;
  color:#1AAB8A;
}
.buttonBox:before,.buttonBox:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #1AAB8A;
  transition:400ms ease all;
}
.buttonBox:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.buttonBox:hover:before,.buttonBox:hover:after{
  width:100%;
  transition:800ms ease all;
}
